@charset "utf-8";
/* CSS Document */

/* dxy */
/* 6.18 */




/* 解决IE8以下的去除浮动问题 */
 .of{zoom:1}
 .of:after{content:'';display:block;overflow:hidden;clear:both;float:none;height:0;width:0}
 
/* 去除浏览器body的边距*/ 
body{margin:0;font-family:Tahoma, \5B8B\4F53}

/* 去除浏览器控件自带的外边*/
   *{outline:none}
   
/* 去除下划线*/
  .a{text-decoration:none}
  
/* 去除列表的符号*/
 .cl{list-style:none}
 
/* 去除内外间距*/ 
 .cs{margin:0;padding:0}
 
/* 合并table的边距*/ 
table{border-collapse:collapse}

/* 去除边框*/
 .cb{border-width:0;border:none}
 
/* 字体组合，大河马，宋体*/
.st{font-family:Tahoma, \5B8B\4F53}

/* 字体组合，微软雅黑，大河马，宋体*/
.yh{font-family:\5FAE\8F6F\96C5\9ED1, Tahoma, \5B8B\4F53}

/* 超链接经过出现下划线*/
.atd:hover{text-decoration:underline}

/* 解决浏览器控件的默认字体*/
input, textarea{font-family:inherit}

/* 去除标签的斜体和加粗*/
.ct{font-style:normal;font-weight:normal}

/* 强制一行显示*/
.nw{word-break:keep-all;word-wrap:normal;white-space:nowrap}

/* 块级元素一行显示，有争议样式*/
.in{display:table-cell;*display:inline;zoom:1;vertical-align:top}

/* inline-block元素垂直居中*/
.vm{display:inline-block;*display:inline;zoom:1;vertical-align:middle}

/* 垂直居中元素的参照元素*/
.vz{display:inline-block;*display:inline;zoom:1;height:100%;width:0;overflow:hidden;visibility:hidden;vertical-align:middle}

/* 添加额外元素去除浮动,非关键样式*/
.cf{clear:both;height:0;display:block;overflow:hidden;visibility:hidden}

/* 截取一行元素字符，是多余字符显示为省略号*/
.el{word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}

/* 三角符号*/
.sj{border:0 dashed transparent;display:inline-block;*display:inline;zoom:1;height:0;width:0;overflow:hidden}

/* 两端对齐，等待测试*/
.jy{text-justify:distribute;text-align:justify}
